<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technomicron.qc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.splash.SplashActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.register.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.main.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"/>

        <service android:name=".service.QCService"></service>
        <service
            android:name=".service.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="firebase_notification_channel" />
    </application>

</manifest>